<!doctype html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="https://easymathsapi-website.herokuapp.com/img/EasyMathsAPI.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyMathsAPI | About Us </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand mx-3" href="/">EasyMathsAPI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactus">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/docs">Docs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="mx-4 text-center">
        <h1>
            About Us
        </h1>
    </div>
    <div class="text-center my-4">
        <p>
            We are group of developers who have passion about developing APIs and websites and testing it.

            <br>You can connect with us here:
        </p>
    </div>
    <div class="text-center">
        <p>Vikram Samak</p>
        <a class="mx-2" href="https://www.instagram.com/__vkrm__/">
            <ion-icon name="logo-instagram" size="large"></ion-icon>
        </a>
        <a class="mx-2" href="mailto:vikramsamak02@gmail.com">
            <ion-icon name="mail-outline" size="large"></ion-icon>
        </a>
        <a class="mx-2" href="https://github.com/vikramsamak">
            <ion-icon name="logo-github" size="large"></ion-icon>
        </a>
        <br>
        <p>
            Leandro Chorolque
        </p>
        <a class="mx-2" href="https://www.linkedin.com/in/leandro-chorolque-251890132/">
            <ion-icon name="logo-linkedin" size="large"></ion-icon>
        </a>
        <a class="mx-2" href="https://github.com/lchorolque">
            <ion-icon name="logo-github" size="large"></ion-icon>
        </a>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
</body>

</html>