<!doctype html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="public/img/EasyMathsAPI.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyMathsAPI | Home </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <!-- <script src="../public/js/script.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
            integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
            crossorigin="anonymous"></script>
    </head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand mx-3" href="/">EasyMathsAPI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactus">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/docs">Docs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="px-4 text-center">
        <p>
            Welcome to the EasyMathsAPI website.This website is made to demonstrate how API works.
            The API beyond this website is made up using FastAPI python module.
            
        </p>
    </div>
    <div class="px-4">
        <h4>
            Use Below Form To Send API Request
        </h4>
    </div>
    <!--REQUEST FORM-->
    <div class="px-4">
        <form class="border border-dark rounded px-4 py-2 my-2">
            <div class="mb-3">
                <label class="form-label">Enter Number 1</label>
                <input type="text" class="form-control" aria-label="Number 1" id="num1">
            </div>
            <div class="mb-3">
                <label class="form-label">Enter Number 2</label>
                <input type="text" class="form-control" aria-label="Number 2" id="num2">
            </div>
            <div class="d-grid gap-2 col-12 mx-auto">
                <button type="button" class="btn btn-dark" onclick="req()">Send</button>
            </div>
        </form>
    </div>
    <div class="px-4">
        <h4>
            API Response
        </h4>
    </div>
    <!--RESPONSE FORM-->
    <div class="px-4">
        <form class="border border-dark rounded px-4">
            <div class="row py-2 my-2">
                <div class="col">
                    <label class="form-label">Addition</label>
                    <input class="form-control" id="add" placeholder="Addition Result" name="add">
                </div>
                <div class="col">
                    <label class="form-label">Substraction</label>
                    <input class="form-control" id="sub" placeholder="Substraction Result" name="sub">
                </div>
            </div>
            <div class="row py-2 my-2">
                <div class="col">
                    <label class="form-label">Multiplication</label>
                    <input class="form-control" id="mul" placeholder="Multiplication Result" name="mul">
                </div>
                <div class="col">
                    <label class="form-label">Division</label>
                    <input class="form-control" id="div" placeholder="Division Result" name="div">
                </div>
            </div>

        </form>
    </div>
 
    <script src="https://easymathsapi-website.herokuapp.com/js/script.js"></script>
    
</body>
</html>